* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.BattleView {
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 315px;
    margin: 0 auto;
    background-size: auto 100%;
}

.StageForeground {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Info {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.Time {
    width: 48px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.VitalityGaugeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    height: 14px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}

.VitalityGaugeContainer1 {
    composes: VitalityGaugeContainer;
}

.VitalityGaugeContainer2 {
    composes: VitalityGaugeContainer;
    transform: rotateZ(180deg) rotateX(180deg)
}

.VitalityGaugeView {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #4f6;
    opacity: 0.9;
    transition: all 500ms ease-out;
}

.VitalityGaugeView2 {
    composes: VitalityGaugeView;
    background-color: #ff4;
}

.VitalityGaugeView3 {
    composes: VitalityGaugeView;
    background-color: #f92;
}

.VitalityGaugeView4 {
    composes: VitalityGaugeView;
    background-color: #f22;
}

.Field {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 100%;
}

.PlayerView {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.Joystick {
    position: absolute;
    background: radial-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    );
}

.Lever {
    position: absolute;
    background-color: rgba(48, 48, 48, 0.8);
}

.Button {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 24px;
    color: white;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
}

.LightPunchButton {
    composes: Button;
    background: linear-gradient(#fb0, #950);
    background-color: #fb0;
}

.HeavyPunchButton {
    composes: Button;
    background: linear-gradient(#f70, #910);
    background-color: #f70;
}

.GuardButton {
    composes: Button;
    background: linear-gradient(#08f, #029);
    background-color: #08f;
}

.DirectionalPad {
    position: absolute;
}

.ArrowButton {
    composes: Button;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: linear-gradient(#999, #444);
    font-size: 16px;
    line-height: 32px;
}

.UpArrowButton {
    composes: ArrowButton;
    left: 32px;
    top: 0;
}

.RightArrowButton {
    composes: ArrowButton;
    left: 64px;
    top: 32px;
}

.DownArrowButton {
    composes: ArrowButton;
    left: 32px;
    top: 64px;
}

.LeftArrowButton {
    composes: ArrowButton;
    left: 0;
    top: 32px;
}
