.vitarityGaugeContainerVie{
    height: 20px;
    background-color:red;
}

.battleView {
    position: relative;
    width: 560px;
    height: 315px;
    margin: 0 auto;
    background-size: auto 100%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.time {
    margin: 0 8px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

.vitalityGaugeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    height: 12px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}

.vitalityGaugeContainer1 {
    composes: vitalityGaugeContainer;
}

.vitalityGaugeContainer2 {
    composes: vitalityGaugeContainer;
    transform: rotateZ(180deg)
}

.vitalityGaugeView {
    position: relative;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #3f5, #ff2);
    opacity: 0.9;
    transition: all 500ms ease-out;
}

.vitalityGaugeView2 {
    composes: vitalityGaugeView;
    background: linear-gradient(90deg, #ff2, #f92);
}

.vitalityGaugeView3 {
    composes: vitalityGaugeView;
    background: linear-gradient(90deg, #f92, #f22);
}

.vitalityGaugeView4 {
    composes: vitalityGaugeView;
    background: linear-gradient(90deg, #f22, #f00);
}

.vitalityGaugeView::after {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
}

.button {
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 24px;
    color: white;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
}

.lightPunchButtonView {
    composes: button;
    background: linear-gradient(#fb0, #950);
}

.heavyPunchButtonView {
    composes: button;
    background: linear-gradient(#f70, #910);
}

.guardButtonView {
    composes: button;
    background: linear-gradient(#08f, #029);
}

.allowButtonsContainer {
    position: absolute;
}

.allowButton {
    composes: button;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: linear-gradient(#999, #444);
    font-size: 16px;
    line-height: 32px;
}

.upAllowButton {
    composes: allowButton;
    left: 32px;
    top: 0;
}

.rightAllowButton {
    composes: allowButton;
    left: 64px;
    top: 32px;
}

.downAllowButton {
    composes: allowButton;
    left: 32px;
    top: 64px;
}

.leftAllowButton {
    composes: allowButton;
    left: 0;
    top: 32px;
}

.playerView {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/*test */
