.title {
  /*  margin-bottom: 64px;*/
    padding: 0px 32px;
    color: white;
    font-family: "Audiowide";
    font-size: 32px;
    
    background: black;
}

.character {
    padding: 16px 0px;
    background-color: blue; 
    position: relative;
    width: 560px;
    height: 315px;
}

.list{
    overflow: scroll; 
    width: 150px;
    height: 290px;
    background-color: red;
    float: right;
    top:0px;
    font-size: 30px;
}
.cyara{
    float: left;
}
.button{
    position: absolute;
    bottom: 10px;
    left: 50px;
    height: 40px;
    font-size: 20px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
}