@font-face {
    font-family: "Audiowide";
    src: url(/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "Squada One";
    src: url(/fonts/Squada_One/SquadaOne-Regular.ttf);
}

body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.mainMenu {
    padding: 16px 0px;
    background-image: url(/images/stage1.jpg);
    position: relative;
    width: 560px;
    height: 315px;
}

.container {
    position: absolute;
    top: 30px;
}

.title {
    margin-bottom: 64px;
    padding: 0px 32px;
    color: white;
    font-family: "Audiowide";
    font-size: 32px;
}

.button {
    display: block;
    min-width: 1000px;
    margin: 0 0 8px 0;
    padding: 0 32px;
    color: white;
    font-family: "Squada One";
    font-size: 40px;
    font-stretch: extra-condensed;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0)
    );
}

.button:hover::before {
    content: "";
    margin-right: 16px;
}
