@font-face {
    font-family: "Audiowide";
    src: url(/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "Squada One";
    src: url(/fonts/Squada_One/SquadaOne-Regular.ttf);
}

body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.settingsView {
    padding: 16px 0px;
    background: black;
    position: relative;
    width:600px;
}

.screen {
    background: black;
    position: relative;
    width: 400px;
    height: 300px;
}

.container {
    position: absolute;
    top: 30px;
}

.title {
    margin-bottom: 40px;
    padding: 0px 32px;
    color: white;
    font-family: "Audiowide";
    font-size: 32px;
}
