@font-face {
    font-family: "Audiowide";
    src: url(/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "Squada One";
    src: url(/fonts/Squada_One/SquadaOne-Regular.ttf);
}

body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.settings {
    padding: 16px 0px;
    background: black;
    position: relative;
    width: 400px;
}


.button {
    display: block;
    min-width: 350px;
    margin: 0 0 8px 0;
    padding: 0 32px;
    color: white;
    font-family: "Squada One";
    font-size: 40px;
    font-stretch: extra-condensed;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
}