.stages {
    padding: 16px 0;
    background: black;
}

.title {
    margin-bottom: 32px;
    padding: 0px 32px;
    color: white;
    font-family: "Squada One";
    font-size: 40px;
}

.stageLine{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left:10px;
    margin-right:10px;
}
.selectButton{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #aa5fff;
    color: white;
    width: 80px;
    height: 40px;
    font-size:20px;
    border-radius:10px;
    box-shadow: 2px 2px #555;
    text-shadow: 2px 2px #555;
}
