.stages {
    padding: 16px 0;
    background: black;
}

.title {
    margin-bottom: 64px;
    padding: 0px 32px;
    color: white;
    font-family: "Squada One";
    font-size: 40px;
}

.stageLine{
    display: flex;
    overflow: scroll;
    margin-left:10px;
    margin-right:10px;
}
