.image {
        width: 200px;
        height:150px; 
}
.name {
       font-family: "Audiowide";
        color:white;
        padding: 2px;
        font-size: 30px;
}
.stage{
        background:#999999;
        margin-right: 10px;
}
.stage:hover{
        background:#000000;
}
.stage:hover .image{
        zoom:1.1;
}