.image {
        width: 400px;
        height:300px; 
}
.name {
       font-family: "Audiowide";
        color:white;
        padding: 2px;
        font-size: 30px;
}
.stage{
        background:#999999;
        margin-right: 10px;
}